.header{
    background-color: firebrick;
}
  .img{
    cursor: pointer;
  }
  .btn{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .btn:hover {background: #eee;}
  .home {color: white;}
  .home:hover{
    background-color: white;  
    color: firebrick;
  }
  .about {color: white;}
  .about:hover{
    background-color: white;
    color: firebrick;
  }
  .resume {color: white;}
  .resume:hover{
    background-color: white;
    color: firebrick;
  }
  .contact {color: white;}
  .contact:hover{
    background-color: white;
    color: firebrick;
  }
  .schedule {color: white;}
  .schedule:hover{
    background-color: white;
    color: firebrick;
  }

.middle_home{
  text-align: center;
  margin-top: 200px;
}

.icon {
  float: left;
  margin: 30px 30px;
}
.icon img{
  height: 50px;
  margin: 0px 20px;
}
.icon img:hover {
  opacity: 0.5;
}

.middle_about{
  text-align: center;
  margin-top: 150px;
}
.middle_about .img_1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.middle_resume{
  text-align: center;
  margin-top: 150px;
}

.middle_contact{
  text-align: center;
  margin-top: 200px;
}