<!DOCTYPE html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}"/>
  </head>
  <body>
      <div class = "header">
        <a href = "{% url 'homepage:home' %}"><img class = "img" src = "{% static 'images/icons8-c-letter-104.png' %}"></a>
        <a href = "{% url 'homepage:home' %}"><button class = "btn home">Home</button></a>
        <a href = "{% url 'homepage:about' %}"><button class = "btn about">About</button></a>
        <a href = "{% url 'homepage:resume' %}"><button class = "btn resume">Resume</button></a>
        <a href = "{% url 'homepage:contact' %}"><button class = "btn contact">Contact</button></a>
        <a href = "{% url 'homepage:schedule' %}"><button class = "btn schedule">Schedule</button></a>
      </div>

      <div id="schedule" class="container part" style="padding-top: 90px; margin-top: 0px; margin-bottom: 0px;">
        <h1 class="text-center bold">My Schedule</h1>
        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <form action="{% url 'homepage:schedule' %}" method="post">
                    {% csrf_token %}
                    {% for field in forms %}
                    <div class="form-group" style="margin-right: 0; margin-bottom: 10px; font-size: 1rem">
                        <label for="id_{{ field.label.lower }}">{{ field.label }}</label>
                        {{ field.errors }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn-secondary">Submit</button>
                </form>
            </div>
            <div class="col-5 offset-sm-1">
                {% if length == 0 %}
                    <h3 class="text-center">No Schedule</h3>
                {% endif %}
                <div class="row" style="overflow: auto; height: 28rem">
                {% for i in schedules %}
                    <div class="col-8 mb-3" style="border: #3c3c3c solid;  height: 13rem; border-radius: 10px;">
                        <h4 class="bold">{{ i.title }}</h4>
                        <h5>Location :
                            <span class="semibold">{{ i.location }}</span></h5>
                        <h5 class="bold">{{ i.day }}</h5>
                        <h5>{{ i.date }} {{ i.time }}</h5>
                        <h6 class="bold text-right">{{ i.categories }}</h6>
                        <form action="{% url 'homepage:delete_schedule' id=i.id %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        let monthDOM = document.getElementById("id_date_month");
        let dayDOM = document.getElementById("id_date_day");
        let yearDOM = document.getElementById("id_date_year");
        let dayFormDOM = document.getElementById("id_day");

        let dayList =[
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
        ]

        let dateDetail = {
            month: monthDOM.value,
            day:dayDOM.value,
            year:yearDOM.value
        }

        let strDate = dateDetail.year+" "+dateDetail.month+"-"+dateDetail.day;
        let date = new Date(strDate);
        dayFormDOM.value = dayList[date.getDay()];

        monthDOM.onchange = (el) => {
            dateDetail.month = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];

        }
        dayDOM.onchange = (el) => {
            dateDetail.day = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];
        }
        yearDOM.onchange = (el) => {
            dateDetail.year = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];
        }
    </script>

      
      <!-- <div class="contact">
        <div class="row">
          <div class="fixed-bottom">
            <div class="icon">
              <a href="https://www.instagram.com/ctupa7/" target="_blank">
                <img src="{% static 'images/icons8-instagram-64.png' %}", alt="Instagram"></a>
              <a href="https://www.linkedin.com/in/carlo-silalahi/" target="_blank">
                <img src="{% static 'images/icons8-linkedin-48.png' %}", alt="Linkedin"></a>
              <a href="mailto:ctupa7@gmail.com" target="_blank">
                <img src="{% static 'images/icons8-gmail-48.png' %}", alt="Gmail"></a>
            </div>
          </div>
        </div>
      </div> -->
  </body>
</html>