<!DOCTYPE html>
{% load static %}
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/story3.css' %}"/>
  </head>
  <body>
      <div class = 'header'>
          <a href = "{% url 'homepage:home' %}"><img class = "img" src = "{% static 'images/icons8-c-letter-104.png' %}"></a>
          <a href = "{% url 'homepage:home' %}"><button class = "btn home">Home</button></a>
          <a href = "{% url 'homepage:about' %}"><button class = "btn about">About</button></a>
          <a href = "{% url 'homepage:resume' %}"><button class = "btn resume">Resume</button></a>
          <a href = "{% url 'homepage:contact' %}"><button class = "btn contact">Contact</button></a>
          <a href = "{% url 'homepage:schedule' %}"><button class = "btn schedule">Schedule</button></a>
      </div>

      <div class="middle_resume">
            <div class="row">
              <div class="col-lg-4">
                  <p><b>SKILLS</b><br>Python<br>Java<br>HTML(5)<br>CSS(3)<br>Javascript<br>Django</p>
              </div>
              <div class="col-lg-4">
                  <b>WORK EXPERIENCES</b><br>404 Not Found<br>Maybe you'll be the first lucky one :).<br>
                  <a href = "{% url 'homepage:contact' %}"><button class = "bttn">HIRE ME TODAY</button></a>
              </div>
              <div class="col-lg-4">
                    <b>Bachelor's Degree</b><br>
                    August 2018 - Present<br>
                    Universitas Indonesia<br>
                    Currently pursuing computer science bachelor’s degree at 3rd Semester.<br>
                    <br>
                    <b>High School Diploma</b><br>
                    July 2015 - May 2018<br>
                    SMAN 8 Pekanbaru<br>
                    I graduated from SMAN 8 Pekanbaru, where I enjoyed doing math and met lot of friends.
              </div>
            </div>
          </div>

      <div class="contact">
            <div class="row">
              <div class="fixed-bottom">
                <div class="icon">
                  <a href="https://www.instagram.com/ctupa7/" target="_blank">
                    <img src="{% static 'images/icons8-instagram-64.png' %}", alt="Instagram"></a>
                  <a href="https://www.linkedin.com/in/carlo-silalahi/" target="_blank">
                    <img src="{% static 'images/icons8-linkedin-48.png' %}", alt="Linkedin"></a>
                  <a href="mailto:ctupa7@gmail.com" target="_blank">
                    <img src="{% static 'images/icons8-gmail-48.png' %}", alt="Gmail"></a>
                </div>
              </div>
            </div>
        </div>
  </body>
</html>